@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0 auto;
    display: flex;
    background-color: #f5f5f5;
    box-sizing: border-box;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.left-section {
    flex: 1;
}

.left-section-background {
    width: 100%;
    height: 100%;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
   background-color: #322e46; 
   opacity: .4;
   font-family: 'norsebold';
   color: white;
   font-size: 6rem;
   display: flex;
   height: 120px;
}

.logo img {
    padding: 10px 0 10px 0;
 }

.right-section {
    flex: 2;
    
}

.right-section h1 {
    font-size: 1.5rem;
    padding: 50px 0 0 0;
}


.form-class {
    background-color: white;
    width: 100%;
    padding: 10px 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.form-class ul {
    width: 70%;
}

.form-row {
    display: flex;
    padding: 10px 0 0 0;
}

.form-row li {
    flex: 1;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 12px;
    color:#8e7690;
    font-weight: 600;
}

input {
    width: 250px;
    padding: 3px;
    margin-top: 3px;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
}

input:invalid{
    border-color: red;
}

input:focus {
    box-shadow: rgba(182, 213, 245, 0.1) 0 6px 0;
    border: 2px solid #a8b9db;

}

.right-non-form {
    padding: 20px 50px;
}

.right-non-form h1 {
    padding-top: 50px;
}

.right-non-form button {
    appearance: none;
    background-color: #8e7690;
    border-radius: 6px;
    color: #fff;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    border: 1px solid rgba(27, 31, 35, .15);
    display: inline-block;
    padding: 10px 30px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}